*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.nav{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding-top: 40 px;
  padding-left: 10%;
  padding-right: 10%;
  height: 8vh;
  background: rgb(244, 214, 179);
    background: linear-gradient(0deg, rgba(244, 214, 179, 1) 0%, rgba(237, 211, 174, 1) 11%, rgba(126, 163, 96, 1) 51%, rgba(91, 139, 57, 1) 100%);
}
.links{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.linkhome{
  display: flex;
  padding: 7px;
  color: #06410f;
  font-style: italic;
  font-weight: 700;
  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.424);
  text-decoration: none;
  font-size:larger;
}
  /* text-decoration: none;
  padding: 15px;
} */

.linkrecipe{
    display: flex;
      padding: 7px;
      color: #06410f;
      font-style: italic;
      font-weight: 700;
      text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.424);
      text-decoration: none;
      font-size: large;
}
