.paginado{
  margin: 0;
  display: flex;
  width: 20%;
  height: 20%;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.inputh3{
  display:flex;
  align-items: center;
  margin-left: 0.93em;
  margin-right: 0.93em;
}

.h3{
  /* display: flex; */
  width:3.75em;
  font-size: 1em;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0.31em;
  padding-bottom: 1px;
  border-radius: 3px;
}
.pInput{
  display: flex;
  height: 30px;
  text-align: center;
}

.button{
  color: rgb(231, 218, 218);
    background-color: rgb(12, 129, 34);
    font-size: 17px;
    text-align: center;
    padding: 0.58em 1.47em;
    margin: 0.29em;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px hsl(114, 54%, 15%);
    cursor: pointer;
    border: none
}

.button:hover{
  color: hsl(134, 66%, 28%);
    background-color: rgb(231, 218, 218);
}

@media (max-width: 1024px) {
  .paginado{
    font-size: 12px;
    width: 100%;
    margin: 0 100px
  } 
  .pInput{
    width: 56px
  }

  .button{
    font-size: 12px;
  }
}