.RecipeDetail{
    margin-top: 150px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.ImageContainer{
display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
}

.R-image{
  margin: 5px;
    display: flex;
    box-shadow: 3px 3px 5px 1px #316bad;
    width: 400px;
    height: 250px;
}

.Dish{
  display: flex;
    justify-content: center;
}

.Diets{
display: flex;
  justify-content: center;
}

.Type{
  display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    border-radius: 3px;
    color: rgb(6, 6, 75);
    font-style: Roboto;
    background-color: rgb(231, 218, 218, 0.3);
}

.Summary{
  align-items: center;
  justify-content: center;
  /* text-align: justify; */
    padding-left: 10px;
    background-color: rgb(231, 218, 218, 0.3);
    color: rgb(6, 6, 75);
    font-weight: 500;
    padding-bottom: 25px;
}

.Healthscore{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: rgb(6, 6, 75);
    font-style: italic;
    border-radius: 3px;
    background-color: rgb(231, 218, 218, 0.3);
    padding-bottom: 25px;
}

.Steps{
  padding-left: 10px;
    /* text-align: justify; */
    list-style: none;
    background-color: rgb(231, 218, 218, 0.3);
    color: rgb(6, 6, 75);
    font-weight: 500;
}